# PostgreSQL Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/loop?schema=public"

# NextAuth Secrets
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key"

# AI Integration
ANTHROPIC_API_KEY=
OPENAI_API_KEY=

# Node Environment
NODE_ENV="development"
